@font-face {
  font-family: anticSlab;
  src: url('../fonts/Antic_Slab/AnticSlab-Regular.ttf');
}

@font-face {
  font-family: montserratAlternate;
  src: url('../fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf');
}
